@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<!DOCTYPE HTML>


<!-- Jumbotron, w title -->
@*<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">@Model.Value("pageTitle")</h1>
        <p>And this is <span class="font-weight-bold">only</span> the beginning.</p>
    </div>
</div>*@

<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-content" data-aos="fade-up">
        <h2>NIF - <span>Número de Identificação Fiscal</span><br>em Portugal!</h2>
        <div>
            <a href="/User/Application/ApplicationCreate" class="btn-get-started scrollto">Solicite o NIF</a>
            <a href="#services" class="btn-projects scrollto">Saber Mais</a>
        </div>
    </div>

    <div class="hero-slider swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('/img/hero-carousel/1.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/hero-carousel/2.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/hero-carousel/3.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/hero-carousel/4.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/hero-carousel/5.jpg');"></div>
        </div>
    </div>

</section>
<!-- End Hero Section -->
<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="/img/about-img.jpg" alt="">
            </div>

            <div class="col-lg-6 content">
                <h2>O que é NIF?</h2>
                <h3>A palavra NIF é a abreviação de “<b>Número de Identificação Fiscal</b>”, comumente chamado, também, de Número de Contribuinte. Ou seja, é um número sequencial destinado exclusivamente ao tratamento de informação de índole fiscal e aduaneira.</h3>

                <ul>
                    <li><i class="bi bi-check-circle"></i> Para obter o NIF, tanto estrangeiros, quanto nacionais que não vivam em Portugal (vivam em Estado Terceiro), necessitam de um representante fiscal.</li>
                    <li><i class="bi bi-check-circle"></i> Este representante deve ser, necessariamente, um residente legal ou nacional português que viva em Portugal.</li>
                    <li><i class="bi bi-check-circle"></i> Em tradução rápida, o NIF é o documento que conterá todas as informações fiscais e financeiras vinculadas diretamente com a AT – Autoridade Fiscal e Aduaneira (Finanças).</li>
                </ul>

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Serviços</h2>
            <p>A <b>NIF Online</b> é uma empresa de <b>Consulting & Coworking</b> que desenvolveu uma plataforma 100% online para auxiliar nacionais e estrangeiros na <b> obtenção do NIF</b> em Portugal. A <b> NIF Online </b> auxiliar na obtenção do NIF, proporcionando, inclusive a representação fiscal.</p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
                    <h4 class="title"><a href="">NIF</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <div class="box">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title"><a href="">Representação Fiscal</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title"><a href="">Abertura de Atividade</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <div class="icon"><i class="bi bi-house"></i></div>
                    <h4 class="title"><a href="">Representação Morada</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->

<section id="testimonials">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Depoimentos</h2>
            <p>Nós prestamos um serviço de alta qualidade e eficiência e que resulta em satisfação de nossos clientes.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "Concluí meu NIF com o NIF Online em 10 dias incluindo o fim de semana, extremamente feliz com o serviço rápido!"
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                        <h3>Richa Goyal</h3>
                        <h4><b>Gerente Sênior</b></h4>
                        <h4>Bangalore, Índia</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "Contratei o serviço do NIF online e fiquei satisfeito! Prestativos, respondem rapidamente, recomendo! O NIF da minha filha saiu em 7 dias. Obrigado!"
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                        <h3>Rogério Vieira</h3>
                        @*<h4><b></b></h4>*@
                        <h4>Rio de Janeiro, Brasil</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "O serviço NIFonline me ajudou a obter o número de controle fiscal português de maneira rápida, eficiente, e econômica, desmistificando todo o processo. Meu NIF permanente foi emitido em 5 dias, e me permitiu obter contratos de serviços em Portugal e resolver várias  documentações antes mesmo de chegar ao país."
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                        <h3>Ching Chang</h3>
                        <h4><b>Escritor / Jornalista</b></h4>
                        <h4>San Francisco, USA</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "Excelente serviço, muito atenciosos, recomendo!"
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                        <h3>Tais Colombo</h3>
                        <h4><b>Servidora Pública</b></h4>
                        <h4>Petrópolis, Brasil</h4>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "Super atenciosos, esclarecem tudo muito bem👏🏻 super recomendo."
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                        <h3>Gustavo Borges</h3>
                        <h4><b>Atleta MMA</b></h4>
                        <h4>Dublin, Irlanda</h4>
                    </div>
                </div><!-- End testimonial item -->
                <!--<div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <img src="assets/img/quote-sign-left.png" class="quote-sign-left" alt="">
                            "Super atenciosos, esclarecem tudo muito bem👏🏻 super recomendo."
                            <img src="assets/img/quote-sign-right.png" class="quote-sign-right" alt="">
                        </p>
                        <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                        <h3>Gustavo Borges</h3>
                        <h4><b>Atleta MMA</b></h4>
                        <h4>Dublin, Irlanda</h4>
                    </div>
                </div>-->
                <!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>
<br />
<br />
<!-- End Testimonials Section -->