html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo-login-register {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
/*    margin-top: 50%;
    margin-bottom:50%;*/
}

.logo-header {
  /*  height: 30%;
    width: 30%;*/
/*    display: flex;
    margin-left: auto;
    margin-right: auto;*/
}

.link-login-register {
    text-align: center;
/*    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;*/
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}