
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Nifonline.pt | Todos os direitos reservados - <a asp-area="" asp-page="/Privacy">Privacidade</a>
        </div>
    </footer>
</section>