
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:nifonline.app@gmail.com">contato</a></i>
            @*<i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>*@
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
            @*<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>*@
            <a href="https://www.facebook.com/nifonlinept/?ti=as" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/nif_online.pt/?igshid=ibf9q5byt0m0" class="instagram"><i class="bi bi-instagram"></i></a>
            @*<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>*@
        </div>
    </div>
</section>
<!-- End Top Bar-->
